<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta Tags for SEO -->
    <meta name="robots" content="index, follow">
    <meta name="author" content="{{ .Site.Title }}">
    {{ if .IsPage }}
    <meta name="revised" content="{{ .Lastmod.Format "2006-01-02" }}">
    {{ end }}

    <!-- start ogp -->
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:locale" content="zh_CN">

    {{ if .Params.thumbnail }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.thumbnail }}">
    <meta property="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.thumbnail }}" />
    {{ else if .Params.image}}
    <meta property="og:image" content="{{ .Params.image }}">
    <meta property="twitter:image" content="{{ .Params.image }}" />
    {{ else }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.header_image }}">
    <meta property="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Params.header_image }}" />
    {{ end }}

    {{ if .Params.title }}
    <meta name="title" content="{{ .Params.title }}" />
    <meta property="og:title" content="{{ .Params.title }}" />
    <meta property="twitter:title" content="{{ .Params.title }}" />
    {{ else }}
    <meta name="title" content="{{ .Site.Params.title }}" />
    <meta property="og:title" content="{{ .Site.Params.title }}" />
    <meta property="twitter:title" content="{{ .Site.Params.title }}" />
    {{ end }}

    {{ if .Params.description }}
    <meta name="description" content="{{ .Params.description }}">
    <meta property="og:description" content="{{ .Params.description }}" />
    <meta property="twitter:description" content="{{ .Params.description }}" />
    {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta property="og:description" content="{{ .Site.Params.description }}" />
    <meta property="twitter:description" content="{{ .Site.Params.description }}" />
    {{ end }}

    {{ if .Params.summary }}
    <meta property="twitter:card" content="summary_large_image" />
    {{ else }}
    <meta property="twitter:card" content="summary_large_image" />
    {{ end }}
    
    <meta name="twitter:site" content="@{{ .Site.Params.twitter | default "" }}">
    <meta name="twitter:creator" content="@{{ .Site.Params.twitter | default "" }}">
    <!-- end ogp -->

    <!-- Schema.org Structured Data -->
    {{ if .IsHome }}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "{{ .Site.Title }}",
        "url": "{{ .Permalink }}",
        "description": "{{ .Site.Params.description }}",
        "author": {
            "@type": "Person",
            "name": "{{ .Site.Title }}"
        },
        "potentialAction": {
            "@type": "SearchAction",
            "target": "{{ .Permalink }}search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        }
    }
    </script>
    {{ else if .IsPage }}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ .Title }}",
        "description": "{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}",
        "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
        "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
        "author": {
            "@type": "Person",
            "name": "{{ .Site.Title }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ .Site.Title }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ .Site.BaseURL }}img/favicon.png"
            }
        },
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Permalink }}"
        },
        "image": "{{ if .Params.thumbnail }}{{ .Site.BaseURL }}{{ .Params.thumbnail }}{{ else if .Params.image }}{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}{{ .Site.Params.header_image }}{{ end }}"
        {{ if .Params.tags }},
        "keywords": "{{ delimit .Params.tags ", " }}"
        {{ end }}
    }
    </script>
    {{ end }}

    <meta name="keyword" content="{{ if .Params.keywords }}{{ delimit .Params.keywords ", " }}{{ else }}{{ .Site.Params.keyword }}{{ end }}">
    <link rel="shortcut icon" href="{{ "img/favicon.ico" | relURL }}">
    <link rel="apple-touch-icon" href="{{ "img/favicon.png" | relURL }}">

    <title>{{ if .Title }}{{ .Title }} | {{ .Site.Params.SEOTitle }}{{ else }}{{ .Site.Params.SEOTitle }}{{ end }}</title>

    <link rel="canonical" href="{{ .Permalink }}">
    
    <!-- RSS Feed -->
    {{ with .OutputFormats.Get "RSS" }}
    <link rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" href="{{ .Permalink }}" />
    {{ end }}

    {{ if .Site.Params.disqus_proxy }}
    <link rel="stylesheet" href="{{ "css/iDisqus.min.css" | relURL }}"/>
    {{ end }}
    
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">

    <!-- Clean White theme CSS -->
    <link rel="stylesheet" href="{{ "css/hugo-theme-cleanwhite.min.css" | relURL }}">

    <!-- zangshang CSS -->
    <link rel="stylesheet" href="{{ "css/zanshang.css" | relURL }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "css/font-awesome.all.min.css" | relURL }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "css/custom-style.css" | relURL }}">

    <!--  Custom CSS  -->
    {{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}

    <!-- jQuery -->
    <script src="{{ "js/jquery.min.js" | relURL }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "js/bootstrap.min.js" | relURL }}"></script>

    <!-- Hux Theme JavaScript -->
    <script src="{{ "js/hux-blog.min.js" | relURL }}"></script>

    <!-- lazy load image JavaScript -->
    <script src="{{ "js/lazysizes.min.js" | relURL }}"></script>

    <!-- Custom JS -->
    {{ range .Site.Params.custom_js }}
    <script src="{{ . | absURL }}"></script>
    {{ end }}

</head>
